{% extends "base.html" %}
{% load static %}

{% block title%}{{ blog.title }}{% endblock %}

{% block content %}
<form action="{% url 'blog' blog.id %}" method="post" id="blog-form" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 id="edit-title">{{ blog.title }}</h1>
    <p id="edit-content">{{ blog.content }}</p>
    <input type="hidden" name="action" value="update">
    <img id="edit-image" src="/media/{{ blog.id }}" onerror="this.src = `{% static 'images/placeholder.jpg' %}`">
    <button type="button" id="edit-btn">Edit</button>
    <button type="button" id="cancel-btn">Cancel</button>
</form>
{% endblock %}

{% block scipts %}
<script>
    $(document).ready(() => {
        let editBtn = $("#edit-btn");
        let cancelBtn = $("#cancel-btn");
        let title = "";
        let content = "";
        cancelBtn.hide();
        editBtn.click((event) => {
            event.preventDefault();
            if (editBtn.text() == "Edit") {
                cancelBtn.show();
                let titleElem = $("#edit-title");
                let contentElem = $("#edit-content");
                title = titleElem.text();
                content = contentElem.text();
                titleElem.replaceWith(`<div id="edit-title"><label for="title-input">Title: </label><input id="title-input" type="text" value="${title}" name="title"></div>`);
                contentElem.replaceWith(`<div id="edit-content"><label for="content-input">Content: </label><input id="content-input" type="text" value="${content}" name="content"></div>`);
                $("#edit-image").replaceWith(`<div id="edit-image"><label for="image-input">Image: </label><input id="image-input" type="file" name="image"></div>`);
                editBtn.text("Update");
            } else {
                $("#blog-form").submit();
            }
        });
        cancelBtn.click(() => {
            event.preventDefault();
            cancelBtn.hide();
            $("#edit-title").replaceWith(`<h1 id="edit-title">${title}</h1>`);
            $("#edit-content").replaceWith(`<p id="edit-content">${content}</p>`);
            $("#edit-image").replaceWith("<img id='edit-image' src='/media/{{ blog.id }}' onerror='this.src = `{% static 'images/placeholder.jpg' %}`'> ")
            editBtn.text("Edit");
        });
    });
</script>
{% endblock %}